.popup__form {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  width: 358px;
}

@media screen and (max-width: 568px) {
  .popup__form {
    padding-top: 75px;
    width: 238px;
  }
}
