.profile__add {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 568px) {
  .profile__add {
    justify-content: center;
  }
}
