.profile__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;

}

@media screen and (max-width: 568px) {
  .profile__info {
    padding-top: 26px;
    margin: 0 auto;

  }
}
