.profile__btn-edit {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url('../../../images/Vector.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__btn-edit:hover {
  opacity: .6;
  transition: .5s all;
}

@media screen and (max-width: 568px) {
  .profile__btn-edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
